@import "tailwindcss";

/* 1. Deine Variablen direkt hier definieren */
:root {
  /* Brand Colors & Shadows */
  --shadow-glow: 0px 0px 5px 0px var(--color-secondary);
  --color-primary: #141fb85b;
  --color-secondary: #a50e91;
  --bg-gradient: linear-gradient(
    to right,
    #d8d8d8 5%,
    #d0bdfc,
    rgb(227, 211, 233)
  );

  --text-gradient: linear-gradient(
    to right,
    #0d414d 0%,
    #6d28d9 50%,
    #c084fc 100%
  );
  --color-gray-box-light: rgba(255, 255, 255, 0.65);
  --color-gray-box-dark: rgba(30, 41, 59, 0.7);

  /* Dynamisches Theme (Standard: Lightmode) */
  --color-bg: #f8fafc;
  --color-text: #0f172a;
  --color-text-muted: #64748b;
  --color-box: var(--color-gray-box-light);
  --color-border: var(--color-secondary);
  --color-glass-bg: rgba(255, 255, 255, 0.4);
  --color-glass-border: rgba(255, 255, 255, 0.6);
}

/* Automatischer Darkmode (System) */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f172a;
    --color-text: #f8fafc;
    --color-text-muted: #94a3b8;
    --color-box: var(--color-gray-box-dark);
    --color-glass-bg: rgba(15, 23, 42, 0.45);
    --color-glass-border: rgba(255, 255, 255, 0.15);
    --bg-gradient: linear-gradient(
      to right bottom,
      #17181d 5%,
      #521c53,
      #463274
    );
    --text-gradient: linear-gradient(
      to right,
      #14b8a6 5%,
      #8b5cf6,
      rgb(237, 192, 255)
    );
  }
}

/* 2. Anbindung an das Tailwind-Theme */
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-main: var(--color-text);
  --color-muted: var(--color-text-muted);
  --color-box: var(--color-box);
  --color-brand-border: var(--color-border);

  --shadow-glow: var(--shadow-glow);
  --background-image-brand-gradient: var(--bg-gradient);
  --background-image-text-gradient: var(--text-gradient);
}
