@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--color-bg);
}

section {
  padding: 0.8rem;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-glass-bg);
  backdrop-filter: blur(8px);
  border: solid 1px var(--color-glass-border);
  .navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    list-style: none;
  }
  .navbar__item:active {
    scale: 0.9;
  }
  .navbar__logo {
    width: 4rem;
  }
  .navbar__link {
    padding: 0.5rem;
    color: var(--color-text-muted);
    text-decoration: none;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.hero {
  .hero__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .hero__card {
      height: 100%;
      display: flex;

      flex-direction: column;
      .hero__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .hero__header-img {
          padding: 1rem 0;

          width: 30%;
        }
        .hero__title--gradient {
          width: 50%;
          width: fit-content;
          padding: 0.5rem 0;
          margin: 0 auto;
          font-size: 1.8rem;
          background: var(--bg-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .hero__info {
        display: flex;
        flex-direction: column;
        padding: 0.3rem 0;
        color: var(--color-text);
      }
      .hero__actions {
        display: flex;
        justify-content: space-evenly;
      }
      .hero__text {
        padding: 0.8rem 0;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
  .hero__btn {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1.5rem;
    transition: all 0.4s ease;
    background: var(--color-primary);
    color: black;
    &:active {
      scale: 0.9;
    }
    &:hover {
      background: initial;
      border-color: var(--color-border);
      backdrop-filter: blur(8px);
      color: var(--color-text);
      box-shadow:
        1px 1px 30px 1px var(--color-primary),
        1px 1px 15px 1px var(--color-secondary);
    }
    &.hero__btn--secondary {
      color: var(--color-text);
      background: transparent;
      border: 1px solid var(--color-border);
      backdrop-filter: blur(8px);
      &:hover {
        background: var(--color-primary);
        border-color: transparent;
        color: black;
      }
    }
  }
  .hero__footer-img {
    width: 100%;
    padding: 1rem 0;
  }
}
.services {
  .services__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;

    text-decoration: underline;
    text-decoration-color: var(--color-primary);
  }

  .services__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;

    .service-card {
      box-shadow: var(--shadow-glow);
      background-color: var(--color-box);
      padding: 0.5rem;
      .service-card__image {
        width: 100%;
        filter: brightness(80%);
      }
      .service-card__title {
        padding-top: 2rem;
        font-size: 1.2rem;
        background: var(--bg-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .service-card__text {
        font-size: 1rem;
        color: var(--color-text-muted);
      }
    }
  }
}

.pricing {
  .pricing__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
  }

  .pricing__subtitle {
    font-size: 1rem;
    color: var(--color-text-muted);
  }
}
.pricing__grid {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.price-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-glow);
  background-color: var(--color-box);
  padding: 0.5rem;

  .price-card__title {
    padding: 0.5rem 0;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .price-card__target,
  .price-card__price {
    color: var(--color-text-muted);
    font-weight: bold;
    font-style: italic;
  }
  .price-card__target {
    text-decoration-line: underline;
    padding: 0.2rem 0rem;
  }
  .price-card__price {
    margin-bottom: 0.5rem;
  }
  .price-card__description,
  .price-card__features {
    font-size: 1rem;
    color: var(--color-text-muted);
  }

  .price-card__footer {
    margin-top: 1rem;

    .price-card__btn {
      color: var(--color-secondary);
    }
  }
  .price-card__badge {
    background: var(--bg-gradient);
    padding: 0.2rem;
  }
}

.contact {
  .contact__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;

    text-decoration: underline;
    text-decoration-color: var(--color-primary);
  }
  .contact__grid {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-glow);
    background-color: var(--color-box);
  }
  .contact__content {
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 2rem;
  }
  .contact__text {
    color: var(--color-text-muted);
    font-size: 1.1rem;
    padding: 0.5rem 0.1rem;
    width: 50%;

    .contact__text--gradient {
      font-weight: bold;
      background: var(--bg-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .contact__image {
    box-shadow: var(--shadow-glow);
    width: 50%;
  }
  .social-links {
    margin-top: 2rem;
    background-color: var(--color-box);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .social-links__icon {
      color: var(--color-primary);
      width: 5rem;
      margin-bottom: 2rem;

      &:hover {
        color: var(--color-secondary);
      }
    }
  }
}

.footer {
  .footer__container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15rem;

    .footer__text {
      color: var(--color-text);
      font-size: 1.3rem;
    }
  }
  .footer-nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;

    .footer-nav__link {
      text-decoration: none;
      font-size: 1rem;
      color: var(--color-text-muted);
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
