@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}
body {
  background: linear-gradient(
    135deg,
    var(--color-bg) 0%,
    #2e1065 50%,
    #581c87 100%
  );
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

section {
  padding: 0.8rem;

  @media (min-width: 750px) {
    padding: 1.5rem;
  }
  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}

.hero {
  .hero__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 750px) {
      align-items: center;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
    }
    .hero__card {
      height: 100%;
      display: flex;
      flex-direction: column;
      .hero__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1200px) {
          align-self: flex-start;
        }

        .hero__header-img {
          padding: 1rem 0;
          width: 30%;

          @media (min-width: 1200px) {
            align-self: flex-start;
          }
        }
        .hero__title--gradient {
          width: 50%;
          width: fit-content;
          padding: 0.5rem 0;
          margin: 0 auto;
          font-size: 1.8rem;
          background: var(--bg-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media (min-width: 750px) {
            font-size: 2rem;
          }

          @media (min-width: 1200px) {
            font-size: 2.2rem;
          }
        }
      }

      .hero__info {
        display: flex;
        flex-direction: column;
        padding: 0.3rem 0;
        color: var(--color-text);
      }
      .hero__actions {
        display: flex;
        justify-content: space-evenly;
      }
      .hero__text {
        padding: 0.8rem 0;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        @media (min-width: 750px) {
          font-size: 1.2rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  .hero__btn {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1.5rem;
    transition: all 0.4s ease;
    background: var(--color-primary);
    color: black;

    @media (min-width: 750px) {
      font-size: 1.3rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }

    &:active {
      scale: 0.9;
    }
    &:hover {
      background: initial;
      border-color: var(--color-border);
      backdrop-filter: blur(8px);
      color: var(--color-text);
      box-shadow:
        1px 1px 30px 1px var(--color-primary),
        1px 1px 15px 1px var(--color-secondary);
    }
    &.hero__btn--secondary {
      color: var(--color-text);
      background: transparent;
      border: 1px solid var(--color-border);
      backdrop-filter: blur(8px);
      &:hover {
        background: var(--color-primary);
        border-color: transparent;
        color: black;
      }
    }
  }

  .hero__footer {
    @media (min-width: 1200px) {
      display: flex;
    }
  }

  .hero__footer-img {
    width: 100%;

    padding: 1rem 0;
    @media (min-width: 750px) {
      width: 700px;
    }
    @media (min-width: 1200px) {
      margin-top: 13rem;
      width: 450px;
    }
  }
}
.services {
  .services__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;

    text-decoration: underline;
    text-decoration-color: var(--color-primary);

    @media (min-width: 750px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }

  .services__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;

    @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }

    .service-card {
      box-shadow: var(--shadow-glow);
      background-color: var(--color-box);
      padding: 0.5rem;
      .service-card__image {
        width: 100%;
        filter: brightness(80%);
      }
      .service-card__title {
        padding-top: 2rem;
        font-size: 1.2rem;
        background: var(--bg-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (min-width: 750px) {
          font-size: 1.5rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.7rem;
        }
      }
      .service-card__text {
        font-size: 1rem;
        color: var(--color-text-muted);

        @media (min-width: 750px) {
          font-size: 1.2rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.pricing {
  .pricing__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);

    @media (min-width: 750px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }

  .pricing__subtitle {
    font-size: 1rem;
    color: var(--color-text-muted);
    @media (min-width: 750px) {
      font-size: 1.2rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.4rem;
    }
  }
}
.pricing__grid {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  @media (min-width: 750px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.price-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-glow);
  background-color: var(--color-box);
  padding: 0.5rem;

  @media (min-width: 750px) {
    width: 20rem;
    height: 30rem;
  }
  @media (min-width: 1200px) {
    height: 40rem;
  }

  .price-card__title {
    padding: 0.5rem 0;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: 750px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }
  .price-card__target,
  .price-card__price {
    color: var(--color-text-muted);
    font-weight: bold;
    font-style: italic;
    @media (min-width: 750px) {
      font-size: 1.3rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
  .price-card__target {
    text-decoration-line: underline;
    padding: 0.2rem 0rem;
  }
  .price-card__price {
    margin-bottom: 0.5rem;
  }
  .price-card__description,
  .price-card__features {
    font-size: 1rem;
    color: var(--color-text-muted);
    @media (min-width: 750px) {
      font-size: 1.4rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.6rem;
    }
  }

  .price-card__footer {
    margin-top: 1rem;

    .price-card__btn {
      color: var(--color-secondary);
    }
  }
  .price-card__badge {
    background: var(--bg-gradient);
    padding: 0.2rem;
  }
}

.contact {
  .contact__title {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 1rem;

    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    @media (min-width: 750px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }
  .contact__grid {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-glow);
    background-color: var(--color-box);
  }
  .contact__content {
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-border);
  }
  .contact__text {
    color: var(--color-text-muted);
    font-size: 1.1rem;
    padding: 0.5rem 0.1rem;
    width: 50%;
    @media (min-width: 750px) {
      font-size: 1.2rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.4rem;
    }

    .contact__text--gradient {
      font-weight: bold;
      background: var(--bg-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .contact__image {
    box-shadow: var(--shadow-glow);
    width: 50%;
    @media (min-width: 750px) {
      max-width: 15rem;
    }
  }
  .social-links {
    padding: 2rem 0;
    background-color: var(--color-box);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    @media (min-width: 750px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .social-links__icon {
      color: var(--color-primary);
      width: 5rem;
      margin-bottom: 2rem;

      &:hover {
        color: var(--color-secondary);
      }
    }
  }
}

.footer {
  .footer__container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15rem;

    .footer__text {
      color: var(--color-text);
      font-size: 1.3rem;
    }
  }
  .footer-nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;

    .footer-nav__link {
      text-decoration: none;
      font-size: 1rem;
      color: var(--color-text-muted);
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
